<div class="card">
    <h1>{{name}}</h1>
    <p>#{{category}}</p>

    <p>{{street}} {{houseNumber}}<br>{{zipCode}} {{place}}<br>{{country}}</p>

    <div class="actions">
        <div class="rating" onclick="this.parentElement.parentElement.classList.toggle('open')">
            <span>{{rating}}</span>
            {{#each (stars rating)}}
            {{{icon this}}}
            {{/each}}
            <span>({{reviews.length}})</span>
            <span class="collapse">{{{icon "chevron"}}}</span>
        </div>
        <form action="/favorite" method="post">
            <fieldset {{#unless user}}disabled{{/unless}}>
                <input type="hidden" name="locationId" value="{{id}}" />
                <button class="action {{#if isFavorited}}red{{/if}}" type="submit">{{{icon "heart"}}}</button>
            </fieldset>
        </form>
        <div class="popup">
            <button class="action {{#if myReview.rating}}gold{{/if}}" onclick="togglePopup(event)" {{#unless
                user}}disabled{{/unless}}>{{{icon
                "star-full"}}}</button>
            <div class="content">
                <div class="header">
                    <h1>Meine Bewertung</h1>
                    <button onclick="togglePopup(event)">{{{icon "plus"}}}</button>
                </div>
                <form action="/rate" method="post">
                    <input type="hidden" name="locationId" value="{{id}}" />
                    <div class="stars">
                        <input type="radio" id="{{id}}-star5" name="rating" value="5" {{#if (eq myReview.rating
                            5)}}checked{{/if}} required />
                        <label for="{{id}}-star5">{{{icon "star-full"}}}</label>

                        <input type="radio" id="{{id}}-star4" name="rating" value="4" {{#if (eq myReview.rating
                            4)}}checked{{/if}} required />
                        <label for="{{id}}-star4">{{{icon "star-full"}}}</label>

                        <input type="radio" id="{{id}}-star3" name="rating" value="3" {{#if (eq myReview.rating
                            3)}}checked{{/if}} required />
                        <label for="{{id}}-star3">{{{icon "star-full"}}}</label>

                        <input type="radio" id="{{id}}-star2" name="rating" value="2" {{#if (eq myReview.rating
                            2)}}checked{{/if}} required />
                        <label for="{{id}}-star2">{{{icon "star-full"}}}</label>

                        <input type="radio" id="{{id}}-star1" name="rating" value="1" {{#if (eq myReview.rating
                            1)}}checked{{/if}} required />
                        <label for="{{id}}-star1">{{{icon "star-full"}}}</label>
                    </div>
                    <textarea name="comment" placeholder="Kommentar" required>{{myReview.comment}}</textarea>
                    <button type="submit">Speichern</button>
                </form>
            </div>
        </div>
    </div>

    {{#if reviews.length}}
    <div class="reviews">
        {{#each reviews}}
        <div class="review">
            <h2>{{name}}</h2>
            <div class="rating">
                {{#each (stars this.rating)}}
                {{{icon this}}}
                {{/each}}
            </div>
            <p>{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>