<div class="card">
    <h1>{{name}}</h1>
    <p>#{{category}}</p>

    <p>{{street}} {{house_number}}<br>{{zip_code}} {{place}}<br>{{country}}</p>

    <div class="actions">
        <button {{#unless reviews.length}}disabled{{/unless}} class="rating"
            onclick="this.parentElement.parentElement.classList.toggle('open')">
            <span>{{rating}}</span>
            {{#each (stars rating)}}
            {{{icon this}}}
            {{/each}}
            <span>({{reviews.length}})</span>
            <span class="collapse">{{{icon "chevron"}}}</span>
        </button>
        <div class="icons">
            <form action="/favorite" method="post">
                <fieldset {{#unless user}}disabled{{/unless}}>
                    <input type="hidden" name="locationId" value="{{id}}" />
                    <button class="icon {{#if isFavorited}}red{{/if}}" type="submit">{{{icon "heart"}}}</button>
                </fieldset>
            </form>
            <div class="popup">
                <button class="icon {{#if myReview.rating}}gold{{/if}}" onclick="togglePopup(event)" {{#unless
                    user}}disabled{{/unless}}>{{{icon
                    "star-full"}}}</button>
                <div class="content">
                    <div class="header">
                        <h1>Meine Bewertung</h1>
                        <button onclick="togglePopup(event)">{{{icon "plus"}}}</button>
                    </div>
                    <form action="/review" method="post">
                        <input type="hidden" name="locationId" value="{{id}}" />
                        <div class="stars">
                            <input id="{{id}}-star5" type="radio" {{#if (eq myReview.rating 5)}}checked{{/if}}
                                name="rating" value="5" required />
                            <label for="{{id}}-star5">{{{icon "star-full"}}}</label>

                            <input id="{{id}}-star4" type="radio" {{#if (eq myReview.rating 4)}}checked{{/if}}
                                name="rating" value="4" required />
                            <label for="{{id}}-star4">{{{icon "star-full"}}}</label>

                            <input id="{{id}}-star3" type="radio" {{#if (eq myReview.rating 3)}}checked{{/if}}
                                name="rating" value="3" required />
                            <label for="{{id}}-star3">{{{icon "star-full"}}}</label>

                            <input id="{{id}}-star2" type="radio" {{#if (eq myReview.rating 2)}}checked{{/if}}
                                name="rating" value="2" required />
                            <label for="{{id}}-star2">{{{icon "star-full"}}}</label>

                            <input id="{{id}}-star1" type="radio" {{#if (eq myReview.rating 1)}}checked{{/if}}
                                name="rating" value="1" required />
                            <label for="{{id}}-star1">{{{icon "star-full"}}}</label>
                        </div>
                        <textarea name="comment" placeholder="Kommentar" required>{{myReview.comment}}</textarea>
                        <button type="submit">Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews">
        {{#each reviews}}
        <div class="review">
            <h2>{{name}}</h2>
            <div class="rating">
                {{#each (stars this.rating)}}
                {{{icon this}}}
                {{/each}}
            </div>
            <p>{{comment}}</p>
        </div>
        {{/each}}
    </div>
</div>